body {
  background-color: #403233;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.drinks_button {
  display: block;
  margin: 10px auto;
  width: 60%;
  color: #403233;
}

.htm-button {
  color: #403233;
}

.container {
  padding-top: 20px;
}

.forms {
  color: white;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
