body {
  background-color: #403233;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.drinks_button {
  display: block;
  margin: 10px auto;
  width: 60%;
  color: #403233;
}

.htm-button {
  color: #403233;
}

.container {
  padding-top: 20px;
}
